<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Parallel test suite" parallel="tests" thread-count="2">

    <test name="Test on First Instance">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="pack.ParallelTest"/>
            <methods>
                <include name="Test01"></include>
            </methods>
        </classes>
    </test>

    <test name="Test on Second Instance">
        <parameter name="browser" value="Firefox"/>
        <classes>
            <class name="pack.ParallelTest"/>
            <methods>
                <include name="Test02"></include>
            </methods>
        </classes>
    </test>

</suite>
